body {
    margin: 0;
    background-color: #ececf1;
}
a {
    text-decoration: none;
}

/* Header */
.header {
    background-color: #72aa70;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header__menu {
    padding: 0 0 0 30px;
}
.header__call {
    padding: 0 30px 0 0;
}

/* Navigation */
.navigation {
    font: normal 25px sans-serif;
    line-height: 50px;
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    background-color: #fff;
    height: 70px;
}
.navigation__home {
    margin: 0 0 0 20px;
}
.navigation__home>img {
    vertical-align: -6px;
}
.navigation__item {
    color: #000;
}
.navigation__item>img {
    padding: 0 20px;
}

/* Article */
.article {
    font: normal 25px sans-serif;
    line-height: 1.5;
}
.article__title {
    font: bold 30px sans-serif;
    margin: 30px 0 0 20px;
}
.article__body {
    margin: 20px 0 0 0;
    padding: 20px 30px;
    background-color: #fff;
}
.article__body>h2:first-child {
    margin: 0;
}
.article__body>h2 {
    margin: 20px 0 0 0;
    font: bold 26px sans-serif;
    line-height: 1.5;
}
.article__body>p {
    margin: 0;
}

/* Footer */
.footer {
    margin: 20px 0 0 0;
    background-color: #fff;
}
.footer__sections {
    display: flex;
    flex-wrap: wrap;
}
.footer__item {
    margin: 20px 0 0 30px;
    width: 250px;
}
.footer__title {
    font: bold 30px sans-serif;
}
.footer__list {
    margin: 20px 0 0 0;
}
.footer__link {
    font: bold 25px sans-serif;
    color: #304593;
    display: block;
    margin: 10px 0 0 0;
}

/* Networks */
.networks {
    display: flex;
    justify-content: center;
}
.networks__item {
    margin: 30px;
}
.networks__item>img {
    height: 50px;
}