body {
    margin: 0;
    background-color: #ececf1;
}
.button {
    font: bold 25px sans-serif;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-radius: 16px;
    background-color: #29b88c;
}
input:focus {
    outline: none;
}