body {
    font-size: 14px;
    margin: 0;
    background-color: #ececf1;
}
a {
    font-size: 14px;
    text-decoration: none;
}

/* Header */
.header {
    font: bold 14px sans-serif;
    color: white;
    text-align: center;
    line-height: 1.5;
    background-color: #72aa70;
}
.header__subtitle {
    text-align: left;
    color: #000;
    padding: 5px 10px;
    background-color: #fff;
    line-height: 1;
}
.header__bar {
    display: flex;
    justify-content: space-between;
}
.header__item {
    display: flex;
    padding: 10px;
}

/* Products */
.products {
    font: normal 14px sans-serif;
}
.products__name {
    font: bold 1.3em sans-serif;
    padding: 10px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products__name>a {
    font: normal 0.9em sans-serif;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 8px;
    color: #000;
    transition: all 0.2s;
}
.products__name>a:hover,
.products__name>a:active {
    background-color: #72aa70;
    border-color: #72aa70;
    color: #ffffff;
}
.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.products__link {
    color: inherit;
}
.products__item {
    width: 45vw;
    margin: 10px 0 0 0;
}
.products__wrap {
    border-radius: 8px;
    padding: 0 0 5px 0;
    background-color: #fff;
    box-shadow: none;
    transition: box-shadow 0.2s;
}
.products__wrap:hover {
    box-shadow: 0 0 10px 0 #0005;
}
.products__photo {
    border-bottom: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    max-height: 45vw;
    overflow: hidden;
}
.products__photo>img {
    width: 100%;
    vertical-align: -4px;
}
.products__title {
    max-height: 3em;
    margin: 5px 5px 0 5px;
    line-height: 1;
    overflow-y: hidden;
}
.products__existence {
    margin: 5px 0 0 5px;
    color: green;
}
.products__price {
    margin: 5px 0 0 5px;
    font: bold 1.5em sans-serif;
}
.products__open {
    font: bold 1em sans-serif;
    color: white;
    margin: 5px 5px 0 5px;
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
    background-color: #72aa70;
    transition: background-color 0.2s;
    user-select: none;
}
.products__open:hover {
    background-color: #528850;
}
@media (min-width: 600px) {
    .products__item {
        width: 30vw;
    }
    .products__photo {
        height: 30vw;
    }
}
@media (min-width: 1000px) {
    .products__item {
        width: 23vw;
    }
    .products__photo {
        height: 23vw;
    }
}

/* Footer */
.footer {
    margin: 20px 0 0 0;
    background-color: white;
}
.footer__list {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 10px 0;
}
.footer__title {
    font: bold 18px sans-serif;
    margin: 10px;
}
.footer__link {
    margin: 0 10px;
    font: bold 1em sans-serif;
    color: blue;
}
.footer__contacts {
    display: flex;
    justify-content: center;
}
.footer__contacts>a {
    padding: 10px;
    display: flex;
}

/* Basket app */
.basket-app {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    background-color: #ececf1;
}
.basket-app__body {
    width: 100%;
    height: 100%;
    max-width: 600px;
    padding: 45px 0 0 0;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-y: scroll;
}
.basket-app__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #72aa70;
}
.basket-app__close {
    position: absolute;
    padding: 10px;
}
.basket-app__title {
    font: bold 1.3em sans-serif;
    line-height: 25px;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.basket-app__notification {
    font: italic 1em sans-serif;
    background-color: lightyellow;
    border: 1px solid yellow;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}
.basket-app__product {
    position: relative;
    display: flex;
    height: 130px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: #fff;
}
.basket-app__photo {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 6px;
}
.basket-app__photo>img {
    height: 100px;
}
.basket-app__data {
    margin: 0 0 0 5px;
}
.basket-app__name {
    font: 1em sans-serif;
    line-height: 1em;
    margin: 0 30px 0 0;
    max-height: 3em;
    overflow: hidden;
}
.basket-app__existence {
    font: italic 0.9em sans-serif;
    margin: 10px 0 0 0;
}
.basket-app__price {
    font: 1.1em sans-serif;
    margin: 10px 0 0 0;
}
.basket-app__total-alone {
    font: bold 1.3em sans-serif;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.basket-app__amount-bar {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 110px;
}
.basket-app__amount-button {
    border: 1px solid #72aa70;
    border-radius: 8px;
    padding: 7px;
}
.basket-app__amount {
    font: bold 1.2em sans-serif;
    line-height: 1.2em;
    padding: 2px 10px 0 10px;
}
.basket-app__delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
}