body {
    font-size: 14px;
    margin: 0;
    background-color: #ececf1;
}
input:focus,
select:focus,
textarea:focus {
    outline-width: 0;
}
h2 {
    margin: 0;
}

/* Layout */
.layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.layout__screen {
    position: relative;
    width: 100%;
    height: 0;
    overflow: scroll;
    background-color: #ececf1;
}

/* Login */
.login {
    padding: 0 10px;
    box-sizing: border-box;
}
.login__body {
    background-color: #fff;
    max-width: 600px;
    margin: 10px auto;
    border-radius: 12px;
    border: 1px solid #000;
}
.login__logotype {
    margin: 10px 0 0 0;
    text-align: center;
}
.login__title {
    font: bold 1.3em sans-serif;
    text-align: center;
    line-height: 2em;
}
.login__fail {
    font: normal 1em sans-serif;
    line-height: 2em;
    background-color: yellow;
    border: 1px solid #f00;
    border-radius: 8px;
    width: 80%;
    margin: 5px auto;
    padding: 0 5px;
    box-sizing: border-box;
}
.login__field {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.login__input {
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #1a73e8;
    padding: 0 5px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}
.login__input:focus {
    outline: none;
}
.login__signature {
    font: normal 0.9em sans-serif;
    color: #1a73e8;
    position: absolute;
    top: -2px;
    left: 10px;
    padding: 0 3px;
    background-color: #fff;
}
.login__eye {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
}
.login__send {
    font: bold 1em sans-serif;
    color: white;
    margin: 10px 5px 5px 5px;
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
    background-color: #72aa70;
}

/* Main */
.main__header {
    background-color: #72aa70;
    display: flex;
    justify-content: space-between;
}
.main__item {
    display: flex;
    padding: 10px;
}
.main__search {
    position: relative;
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
.main__signature {
    font: normal 0.9em sans-serif;
    color: #1a73e8;
    position: absolute;
    top: 3px;
    left: 30px;
    padding: 0 3px;
    background-color: #ececf1;
}
.main__input {
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #1a73e8;
    padding: 0 5px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #ececf1;
}
.main__input:focus {
    outline: none;
}
.main__bar {
    max-width: 600px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.main__button {
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 0 20px;
    margin: 0 10px 10px 0;
}

/* Administrators */
.administrators {
    position: relative;
}
.administrators__header {
    background-color: #72aa70;
    display: flex;
    justify-content: space-between;
}
.administrators__item {
    display: flex;
    padding: 10px;
}
.administrators__wrap {
    padding: 10px;
    margin: 10px auto 0 auto;
    background-color: #fff;
    max-width: 600px;
    box-sizing: border-box;
}
.administrators__table {
    width: 100%;
    border-collapse: collapse;
}
.administrators__table>thead {
    background-color: #ccc;
    font: bold 1em sans-serif;
    height: 2em;
    text-align: center;
}
.administrators__table>thead>tr>td,
.administrators__table>tbody>tr>td {
    border: 1px solid black;
    width: calc(100% / 3);
    height: 2em;
}
.administrators__window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding: 0 30px;
    background-color: #0008;
}
.administrators__body {
    background-color: #fff;
    max-width: 600px;
    max-height: calc(100% - 20px);
    padding: 5px 0 0 0;
    margin: 10px auto;
    border-radius: 12px;
    border: 1px solid #000;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}
.administrators__field {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.administrators__signature {
    font: normal 0.9em sans-serif;
    color: #1a73e8;
    position: absolute;
    top: -2px;
    left: 10px;
    padding: 0 3px;
    background-color: #fff;
}
.administrators__input {
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #1a73e8;
    padding: 0 5px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}
.administrators__input:focus {
    outline: none;
}
.administrators__bar {
    width: 80%;
    margin: 5px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.administrators__button {
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 0 20px;
    margin: 0 10px 10px 0;
}
.administrators__button_red {
    border-color: #f00;
    color: #f00;
}

/* Categories */


/* Products */
.products__header {
    background-color: #72aa70;
    display: flex;
    justify-content: space-between;
}
.products__item {
    display: flex;
    padding: 10px;
}
.products__wrap {
    padding: 10px;
    margin: 10px auto 0 auto;
    background-color: #fff;
    max-width: 600px;
    box-sizing: border-box;
}
.products__table {
    width: 100%;
    border-collapse: collapse;
}
.products__data {
    border: 1px solid black;
    width: calc(100% / 3);
    height: 2em;
}
.products__window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding: 0 30px;
    background-color: #0008;
}
.products__body {
    background-color: #fff;
    max-width: 600px;
    max-height: calc(100% - 20px);
    margin: 10px auto;
    border-radius: 12px;
    border: 1px solid #000;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}
.products__photo {
    display: block;
    margin: 5px auto;
    width: calc(100% - 10px);
    border-radius: 8px;
    border: 1px solid #1a73e8;
    box-sizing: border-box;
    background-color: #ccc;
}
.products__bar-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px 0 0;
}
.products__button {
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #000;
    margin: 5px 0 0 5px;
    height: 2em;
    padding: 0 5px;
}
.products__button_red {
    border-color: #f00;
    color: #f00;
}
.products__button_wide {
    text-align: center;
    width: calc(80% - 12px);
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #000;
    margin: 5px auto;
}
.products__field {
    position: relative;
    width: 80%;
    margin: 5px auto 0 auto;
}
.products__signature {
    font: normal 0.9em sans-serif;
    color: #1a73e8;
    position: absolute;
    top: -2px;
    left: 10px;
    padding: 0 3px;
    background-color: #fff;
}
.products__textarea,
.products__input {
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #1a73e8;
    padding: 0 5px;
    margin: 5px 0 0 0;
    width: 100%;
    box-sizing: border-box;
}
.products__textarea {
    vertical-align: -4px;
    resize: none;
    padding: 5px 0 0 0;
    line-height: 1em;
    height: 15em;
}
.products__select {
    width: 80%;
    height: calc(2em + 2px);
    margin: 5px 10% 0 10%;
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #000;
    box-sizing: border-box;
}
.products__subtitle {
    font: bold 1em sans-serif;
    line-height: 2em;
    text-align: center;
}
.products__table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
.products__table-data {
    font: 1em sans-serif;
    border: 1px solid black;
    padding: 1px;
    height: 2em;
}
.products__table-data_narrow {
    width: 2em;
}
.products__table-data_dark {
    background-color: #ccc;
}
.products__table-input {
    font: 1em sans-serif;
    border: 2px solid transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
}
.products__image {
    width: 2em;
    height: 2em;
    border: 2px solid transparent;
    padding: 0.25em;
    box-sizing: border-box;
    display: block;
}
.products__panel-photo {
    position: relative;
}
.products__button-photo {
    position: absolute;
    top: 6px;
    border-radius: 6px;
    padding: 5px;
    width: 20px;
    height: 20px;
}
.products__button-photo:nth-child(1) {
    left: 11px;
    background: linear-gradient(180deg, red, orange, yellow);
}
.products__button-photo:nth-child(2) {
    left: 46px;
    background: linear-gradient(180deg, blue, darkviolet);
}

/* Settings */
.settings__header {
    background-color: #72aa70;
    display: flex;
    justify-content: space-between;
}
.settings__item {
    display: flex;
    padding: 10px;
}
.settings__wrap {
    padding: 10px;
    margin: 10px auto 0 auto;
    background-color: #fff;
    max-width: 600px;
    box-sizing: border-box;
}
.settings__table {
    width: 100%;
    border-collapse: collapse;
}
.settings__data {
    border: 1px solid black;
    width: calc(100% / 3);
    height: 2em;
}
.settings__window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding: 0 30px;
    background-color: #0008;
}
.settings__body {
    background-color: #fff;
    max-width: 600px;
    max-height: calc(100% - 20px);
    padding: 5px 0 0 0;
    margin: 10px auto;
    border-radius: 12px;
    border: 1px solid #000;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}
.settings__field {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.settings__signature {
    font: normal 0.9em sans-serif;
    color: #1a73e8;
    position: absolute;
    top: -2px;
    left: 10px;
    padding: 0 3px;
    background-color: #fff;
}
.settings__input {
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #1a73e8;
    padding: 0 5px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}
.settings__input:focus {
    outline: none;
}
.settings__bar {
    width: 80%;
    margin: 5px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.settings__button {
    font: normal 1em sans-serif;
    line-height: 2em;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 0 20px;
    margin: 0 10px 10px 0;
}

/* Load animation */
.load-animation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
}
.load-animation__icon {
    transform: rotate(0deg);
}
.load-animation__error {
    font: 2em sans-serif;
    text-align: center;
    opacity: 0;
}
.load-animation__error>img {
    margin: 0 auto;
    display: flex;
}
.load-animation__text {
    padding: 20px 0 50px 0;
}