body {
    margin: 0;
    background-color: #ececf1;
}
button {
    padding: 0;
    background-color: unset;
    border: none;
}

/* Header */
.header {
    background-color: #29b88c;
}
.header__back {
    padding: 7px;
    vertical-align: -4px;
}

/* Products */
.products__list>a {
    text-decoration: none;
    color: #304593;
}
.products__item {
    display: flex;
    font: bold 15px sans-serif;
    margin: 5px;
    line-height: 25px;
    background-color: #fff;
    height: 25px;
    overflow: hidden;
}
.products__price {
    width: 75px;
    padding: 0 7px;
    border-right: 5px solid #ececf1;
    white-space: nowrap;
    overflow: hidden;
}
.products__title {
    padding: 0 7px;
    white-space: nowrap;
    overflow: hidden;
}
.products__create {
    font: bold 15px sans-serif;
    margin: 5px;
    line-height: 25px;
    background-color: #fff;
    text-align: center;
}