body {
    font-size: 14px;
    margin: 0;
    background-color: #ececf1;
}
a {
    text-decoration: none;
}

/* Header */
.header {
    font: bold 14px sans-serif;
    color: white;
    text-align: center;
    line-height: 1.5;
    background-color: #72aa70;
}
.header__bar {
    display: flex;
}
.header__item {
    display: flex;
    padding: 10px;
}

/* Article */
.article__title {
    font: bold 1.3em sans-serif;
    padding: 10px;
}
.article__body {
    background-color: #fff;
    padding: 10px 0;
    margin: 10px 0 0 0;
}
.article__body_first {
    margin: 0;
}
.article__subtitle {
    font: normal 1.1em sans-serif;
    margin: 10px;
    text-transform: uppercase;
}
.article__p {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
}
.article__p>span {
    font: normal 1em sans-serif;
    margin: 0 0 0 10px;
}
@media (min-width: 600px) {
    .article {
        width: 600px;
        margin: 0 auto;
    }
}

/* Footer */
.footer {
    margin: 20px 0 0 0;
    background-color: white;
}
.footer__contacts {
    display: flex;
    justify-content: center;
}
.footer__contacts>a {
    padding: 10px;
    display: flex;
}