body {
    font-size: 14px;
    margin: 0;
    background-color: #ececf1;
}
a {
    text-decoration: none;
}

/* Header */
.header {
    font: bold 14px sans-serif;
    color: white;
    text-align: center;
    line-height: 1.5;
    background-color: #72aa70;
}
.header__bar {
    display: flex;
    justify-content: space-between;
}
.header__item {
    display: flex;
    padding: 10px;
}

/* Call */
.call__title {
    font: bold 1.3em sans-serif;
    padding: 10px;
}
.call__body {
    background-color: #fff;
    padding: 0 0 10px 0;
}
.call__description {
    font: normal 1em sans-serif;
    padding: 10px;
}
.call__schedule {
    font: normal 1em sans-serif;
    line-height: 2em;
    color: blue;
}
.call__button {
    font: bold 1em sans-serif;
    color: white;
    margin: 10px 10px 0 10px;
    border-radius: 8px;
    text-align: center;
    padding: 5px 0;
    background-color: #72aa70;
}
.call__button_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call__button_icon>img {
    padding: 0 5px 0 0;
}
@media (min-width: 600px) {
    .call {
        width: 600px;
        margin: 0 auto;
    }
}

/* Footer */
.footer {
    margin: 20px 0 0 0;
    background-color: white;
}
.footer__contacts {
    display: flex;
    justify-content: center;
}
.footer__contacts>a {
    padding: 10px;
    display: flex;
}