body {
    font-size: 14px;
    margin: 0;
    background-color: #ececf1;
}
a {
    text-decoration: none;
}

/* Header */
.header {
    font: bold 14px sans-serif;
    color: white;
    text-align: center;
    line-height: 1.5;
    background-color: #72aa70;
}
.header__bar {
    display: flex;
}
.header__item {
    display: flex;
    padding: 10px;
}

/* Menu */
.menu {
    margin: 10px 0 0 0;
    background-color: #fff;
    padding: 10px 0;
}
.menu__button {
    font: bold 14px sans-serif;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 5px 0;
    margin: 10px;
    background-color: #72aa70;
}
.menu__button_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__button_icon>span {
    margin: 0 0 0 10px;
}
@media (min-width: 600px) {
    .menu {
        width: 600px;
        margin: 10px auto 0 auto;
    }
}

/* Footer */
.footer {
    margin: 20px 0 0 0;
    background-color: white;
}
.footer__contacts {
    display: flex;
    justify-content: center;
}
.footer__contacts>a {
    padding: 10px;
    display: flex;
}