body {
    font-size: 14px;
}

/* Item */
.item {
    position: relative;
    font: normal 1em sans-serif;
    height: 2em;
    overflow: hidden;
    margin: 0 0 8px 0;
    border: 1px solid #ccc;
}
.item__body {
    padding: 0 0 0 2em;
}
.item__close {
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 0;
    width: 2em;
    background-color: #ccc;
}
.item__name {
    font: normal 2em sans-serif;
    background-color: #ccc;
    line-height: 1em;
    user-select: none;
}
.item__title {
    font: bold 2em sans-serif;
}
.item__subtitle {
    font: bold 1.5em sans-serif;

}
.item__code {
    font: 1em sans-serif;
    line-height: 1em;
    background-color: #ffee77;
    margin: 0;
    padding: 12px;
    max-height: 10em;
    overflow: scroll;
}